<div class="add-transaction">
  <h2>Add transaction</h2>
  <form class="add-transaction__form" autocomplete="off">
    <input type="text" id="amount" class="add-transaction__amount" autofocus />
    <div class="add-transaction__type">
      <input type="radio" id="expense" name="type" value="expense" checked />
      <label for="expense">Expense</label>
      <input type="radio" id="income" name="type" value="income" />
      <label for="income">Income</label>
    </div>
    <select name="category" id="category" class="add-transaction__category">
      <option value="food">Food</option>
      <option value="shopping">Shopping</option>
      <option value="entertainment">Entertainment</option>
      <option value="payroll">Payroll</option>
    </select>
    <input type="date" id="date" class="add-transaction__date" />
    <button type="submit">Save</button>
  </form>
  <a routerLink="/">Cancel</a>
</div>
