<div class="add-transaction">
  <h2>Add transaction</h2>
  <form
    class="add-transaction__form"
    autocomplete="off"
    [formGroup]="addTransactionForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="number"
      class="add-transaction__amount"
      autofocus
      formControlName="amount"
    />
    <!-- prettier-ignore -->
    @if(addTransactionForm.get("amount")?.invalid && addTransactionForm.get("amount")?.touched ) {
    <!-- prettier-ignore -->
    @if(addTransactionForm.get("amount")?.errors?.["required"]) {
    <div class="add-transaction__error-message">Amount required</div>
    }
    <!-- prettier-ignore -->
    @if(addTransactionForm.get("amount")?.errors?.["pattern"]) {
    <div class="add-transaction__error-message">Valid number required</div>
    } }
    <div class="add-transaction__type">
      <input
        type="radio"
        id="expense"
        name="type"
        value="expense"
        formControlName="type"
      />
      <label for="expense">Expense</label>
      <input
        type="radio"
        id="income"
        name="type"
        value="income"
        formControlName="type"
      />
      <label for="income">Income</label>
    </div>
    <select class="add-transaction__category" formControlName="category">
      <option value="">Select the category</option>
      <option value="food">Food</option>
      <option value="shopping">Shopping</option>
      <option value="entertainment">Entertainment</option>
      <option value="payroll">Payroll</option>
    </select>
    <!-- prettier-ignore -->
    @if(addTransactionForm.get("category")?.invalid && addTransactionForm.get("category")?.touched ) {
    <!-- prettier-ignore -->
    @if(addTransactionForm.get("category")?.errors?.["required"]) {
    <div class="add-transaction__error-message">Select your category</div>
    } }
    <input type="date" class="add-transaction__date" formControlName="date" />
    <button type="submit">Save</button>
  </form>
  <a routerLink="/">Cancel</a>
</div>
