.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 5px;

  &__label {
    color: #2e2e2e;
  }
  &__input {
    color: #2e2e2e;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
  }
  &__button {
    border: none;
    background: #494699;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }
}
