@use "variables" as v;

// Recorre el map de colores
@each $key, $val in v.$colors {
  // Texto
  .text-#{$key} {
    color: $val;
  }
  // Background
  .bg-#{$key} {
    background-color: $val;
  }
}
