@use "variables" as v;

// Recorre el map de colores
@each $key, $val in v.$colors {
  // Texto
  .text-#{$key} {
    color: $val;
  }
  // Background
  .bg-#{$key} {
    background-color: $val;
  }
  // Variaciones claras
  @for $i from 1 through 9 {
    .text-#{$key}-light-#{$i} {
      color: mix(white, $val, $i * 10%);
    }
    .bg-#{$key}-light-#{$i} {
      background-color: mix(white, $val, $i * 10%);
    }
  }

  // Variaciones oscuras
  @for $i from 1 through 9 {
    .text-#{$key}-dark-#{$i} {
      color: mix(black, $val, $i * 10%);
    }
    .bg-#{$key}-dark-#{$i} {
      background-color: mix(black, $val, $i * 10%);
    }
  }
}
