// Colores
$bg-color: #dd2d91;
$color: #fff;

// Bordes
$borde-delgado: 1px solid $bg-color;
$borde-grueso: 3px solid $bg-color;

// Paleta de colores
$primary: #0d6efd;
$secondary: #6c757d;
$success: #1a8754;
$danger: #dc3545;
$warning: #ffc008;
$info: #11caf0;
$white: #fff;
$black: #000;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "white": $white,
  "black": $black,
);
