// PARTIALS
@use "reset";
@use "palette";
@use "typography";
@use "card";
@use "text";

// Condicionales
// > -> Mayor que
// < -> Menor que
// >= -> Mayor o igual que
// <= -> Menor o igual que
// == -> Igual
// != -> Diferente

// IF
@if (5 > 10) {
  .testing-conditional {
    color: magenta;
  }
}

// IF/ELSE
@if (5 != 5) {
  .testing-conditional-if {
    color: lime;
  }
} @else {
  .testing-conditional-else {
    color: cyan;
  }
}
// EXPRESIONES BOOLEANAS -> AND, OR
$a: 3;
@if ($a == 3) {
  .test-3 {
    color: red;
  }
}
// AND -> Todas deben ser verdaderas
@if ($a >= 1 and $a <=5) {
  .test-1-5 {
    color: blue;
  }
}
// OR -> Al menos una es verdadera
@if ($a >= 5 or $a <= 8) {
  .test-5-8 {
    color: yellow;
  }
}
