/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-left: 30px;
  /* none, square, circle */
  /* list-style-type: none; */
  list-style-image: url("./leaf.png");
}

ol {
  margin-left: 30px;
  /* upper-roman, lower-roman, lower-alpha, upper-alpha, lower-greek */
  list-style-type: lower-greek;
}
