/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  background-color: #aaedff;
  color: #014e64;
  padding: 20px;
  margin: 20px;

  /* Precedencia de fuentes */
  font-family: Montserrat, sans-serif;

  /* 
  Medidas CSS:
  px: pixeles
  em: tamaño estandar del elemento padre
  rem: tamaño estandar del dispositivo 
  */
  font-size: 1.5rem;
}

span {
  font-family: Arial, sans-serif;
  font-style: italic;
}
#span1 {
  font-weight: 100;
}
#span2 {
  font-weight: 300;
}
#span3 {
  font-weight: 600;
}
#span4 {
  font-weight: bold;
}
