<div class="transaction">
  <div class="transaction__title">
    @switch(transaction.type) { @case("income") {
    <div class="transaction__icon transaction__icon-income">↑</div>
    } @case ("expense") {
    <div class="transaction__icon transaction__icon-expense">↓</div>
    } }
    <h5>
      {{ transaction.category }}
      <span
        class="material-symbols-outlined transaction__remove"
        (click)="removeHandler()"
      >
        delete
      </span>
    </h5>
  </div>
  <div>
    <h5
      class="transaction__amount"
      [ngClass]="
        transaction.type === 'expense'
          ? 'transaction__amount-expense'
          : 'transaction__amount-income'
      "
    >
      {{ transaction.amount | currency }}
    </h5>
    <h5 class="transaction__date" [ngStyle]="dateStyles">
      {{ transaction.date | date }}
    </h5>
  </div>
</div>
