@use "../../../styles" as s;

.transaction {
  background-color: s.$white;
  border-radius: s.$main-border-radius;
  font-family: s.$font-family;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: s.$main-shadow;

  &__title {
    display: flex;
    gap: 0.625rem;

    h5 {
      font-size: 1.0625rem;
      font-weight: 500;
      color: #474747;
    }
  }
  &__amount {
    color: #474747;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
  }
  &__date {
    color: #5f5f5f;
    font-size: 0.7rem;
    font-weight: 400;
  }
  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    text-align: center;
    &-income {
      color: s.$income-icon-color;
      background-color: s.$income-icon-bg-color;
    }
    &-expense {
      color: s.$expense-icon-color;
      background-color: s.$expense-icon-bg-color;
    }
  }
  &__remove {
    color: s.$remove;
    font-size: 0.9rem;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0.3125rem;
  }
  &__amount-expense {
    color: s.$amount-expense-color;
  }
  &__amount-income {
    color: s.$amount-income-color;
  }
}
