.task {
  background-color: #c6b8ff;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: #2c293a;
    font-weight: 500;
  }
  &:hover {
    background-color: #c1b3fd;
  }

  .delete {
    color: #d835d5;
    cursor: pointer;
  }
}
