@use "../variables" as v;

@mixin cart-icon() {
  .amount-container {
    .cart-icon {
      font-size: 2rem;
      path {
        stroke: v.$header-color;
      }
    }
    .badge {
      background-color: v.$badge-bg-color;
      color: v.$header-color;
      font-family: v.$font-family;
      font-size: 1rem;
      font-weight: 600;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
      border-radius: 10px;
    }
  }
}
