@use "../variables" as v;

@mixin error() {
  .error {
    color: v.$error;
    font-family: v.$font-family;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.3rem;
    display: none;

    &-terms {
      text-align: left;
    }
  }
  .error-message {
    color: v.$error;
    font-family: v.$font-family;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.3rem;
  }
}
