@use "../variables" as v;

@mixin forgot() {
  .forgot {
    font-family: v.$font-family;
    font-weight: 500;
    color: v.$gray;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
  }
}
