@use "label" as l;
@use "input" as i;
@use "error" as e;
@use "button" as b;
@use "forgot" as f;
@use "input-password" as ip;

form {
  display: grid;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0;

    @include l.label();
    @include i.input();
    @include e.error();
    @include ip.inputPassword();
  }

  @include b.button();
  @include f.forgot();
}
