@use "../variables" as v;

@mixin inputPassword() {
  .input-password {
    display: flex;
    align-items: center;

    input[type="text"],
    input[type="password"] {
      width: 100%;
    }

    .password-icon {
      cursor: pointer;
      color: v.$gray;
    }
  }
}
