@use "../variables" as v;

@mixin input() {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    font-family: v.$font-family;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid v.$gray;
    outline: none;
    padding: 0.2rem 0;
    color: v.$gray;

    &:invalid[data-focused="true"] {
      border-bottom: 1px solid v.$error;
      color: v.$error;
    }
    &:invalid[data-focused="true"] ~ p {
      display: block;
    }
  }
  input[type="checkbox"] {
    margin-right: 8px;
  }
}
