@use "../../../styles.scss" as s;

.balance {
  background-image: s.$gradient-bg;
  box-shadow: s.$main-shadow;
  border-radius: s.$main-border-radius;
  padding: 1.5625rem;
  color: s.$white;
  font-family: s.$font-family;

  &__header {
    margin-bottom: 0.9375rem;
    h4 {
      font-weight: 200;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 0.8rem;
      font-weight: 300;
    }
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}

.no-balance__error {
  font-family: s.$font-family;
  font-weight: 400;
  text-align: center;
  color: s.$error;
  background-color: s.$error-light;
  border: 1px solid s.$error;
  border-radius: 0.625rem;
  padding: 0.9375rem;
}
